<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Sequelone/Imgso Test Suite">
            <file>./tests/ImgsoTestCase.php</file>
            <file>./tests/ImgsoServeTestCase.php</file>
            <file>./tests/ImgsoProxyTestCase.php</file>
        </testsuite>
    </testsuites>
</phpunit>
